.container {
  padding: 15px;
  background-color: #53c28b;
  border-radius: 5px;
  border: none;
  width: max-content;
  color: white;
  font-size: large;
  cursor: pointer;
}
.hyper {
  display: grid;
  place-items: center;
  border: 6px dashed gray;
  background-color: transparent;
  margin: 0rem;
  overflow: hidden;
}

.h4 {
  cursor: pointer;
  letter-spacing: 4px;
  font-family: "Space Mono", monospace;
  font-size: clamp(2rem, 5vw, 4rem);
  color: white;
  padding: 0rem clamp(2.9rem, 2vw, 2.5rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}
