.card {
  width: 350px;
  height: 350px;
}
.card-image {
  position: relative;
  width: 250px;
  height: 250px;
}
.arrow-left {
  height: 25px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.card-title {
  color: red;
}
.arrow {
  cursor: pointer;
}
