.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.postContent {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 95%;
  min-width: 100vh;
  height: auto;
}
.postContent p {
  color: red;
}

.postContent h1 {
  font-size: 24px;
  font-weight: bold;
}
.postContent blockquote {
  max-width: 700px;
  width: auto;
  margin-left: 2em;
  border-left: 10px rgba(255, 0, 0, 0.548) solid;
  background-color: lightgrey;
  color: black;
}
.postContent blockquote > p {
  text-indent: 0;
  margin-left: 1em;
  background-color: lightgrey;
}

.postContent ol > li {
  color: red;
  list-style: square outside none;
}
.postContent ul > li {
  padding: 20px;
}
.postContent ul li {
  padding: 5px;
  margin-left: 35px;
}
/* .postContent code {
  font: 16px Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  color: f9f9f9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  background-color: #52595d;
  display: inline-block;
  margin: 0px;
  padding: 5px 15px;
} */
