:root {
  --white: #fff;
  --light-gray: rgba(255, 255, 255, 0.42);
  --gray: #777;
  --black: #111;
  --dark-blue: #005571;
  --rich-black: #03071eff;
  --chocolate-cosmos: #370617ff;
  --rosewood: #6a040fff;
  --penn-red: #9d0208ff;
  --engineering-orange: #d00000ff;
  --sinopia: #dc2f02ff;
  --persimmon: #e85d04ff;
  --princeton-orange: #f48c06ff;
  --orange-web: #faa307ff;
  --selective-yellow: #ffba08ff;
}
:root {
  --mozillablue: #8cb4ff;
  --mozillagray: #343434;
  --mozillalightgray: #858585;
  --mozillablack: #1b1b1b;
  --mozillagrenn: #06bd5c;
  --mozillared: #ff707f;
  --mozillawhite: #ffffff;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

html,
body {
  background-color: transparent;
  font-size: 14px;
  line-height: 1.5;
  min-height: 100vh;
  height: auto;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}
.primary-button {
  cursor: pointer;
  font-size: larger;
  font-weight: bolder;
  background: linear-gradient(-45deg, var(--orange-web), var(--sinopia), var(--princeton-orange));
  background-size: 400% 400%;
  animation: gradient-bg 5s ease infinite;
  padding: 12px 48px;
  border-radius: 999px;
}
@-webkit-keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
}

.theme {
  transition: 1s all ease;
}
.light {
  background-color: white;
  color: #111;
  a,
  h2 {
    color: var(--dark-blue);
  }
}
.dark {
  background-color: #111;
  color: white;
  a {
    color: var(--mozillablue);
  }
  h2 {
    color: var(--mozillawhite);
  }
}

.container {
  max-width: 1366px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
