.container {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
  flex-wrap: wrap;
}
.heroitem {
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroitem img {
  width: fit-content;
  height: fit-content;
  object-fit: contain;
}
.desc {
  padding-top: 1rem;
  max-width: 450px;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.herodesc {
  font-size: 24px;
  font-weight: 300;
}

.herotitle {
  font-size: 48px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
