.postContent {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 95%;
  min-width: 100vh;
  height: auto;
}

.postContent h1 {
  font-size: 24px;
  font-weight: bold;
}
.postContent blockquote {
  max-width: 700px;
  width: auto;
  margin-left: 2em;
  border-left: 10px rgba(255, 0, 0, 0.548) solid;
  background-color: lightgrey;
  color: black;
}
.postContent blockquote > p {
  text-indent: 0;
  margin-left: 1em;
  background-color: lightgrey;
}
.postContent h2 {
  font-size: 20px;
  font-weight: bold;
}
.postContent ol > li {
  color: red;
  list-style: square outside none;
}
.postContent ul > li {
  padding: 20px;
}
.postContent ul li {
  padding: 5px;
  margin-left: 35px;
}
.postContent code {
  max-width: 700px;
}
