.container {
  height: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 1;
}
.imgContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.logo {
  opacity: 0.5;
}
