.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.imgContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.logo {
  opacity: 0.5;
}
.lightFooter {
  background-color: inherit;
  .p {
    color: inherit;
  }
}
.darkFooter {
  background-color: inherit;
  .p {
    color: inherit;
  }
}
