.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 15px;
}
.postContainer {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 5px 10px;
  background-color: #545454;
}
.postTitle {
  margin-top: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.imgContainer {
  flex-shrink: 0;
  position: relative;
  height: 96px;
  width: 96px;
}
.imgContainer img {
  border-radius: 8px;
  object-fit: cover;
}
.postBody {
  display: flex;
  height: 96px;
  margin-left: 16px;
}
.spanContainer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
}
.span {
  display: flex;
  align-items: stretch;
  justify-content: right;
  cursor: pointer;
  font-size: large;
}
.spanDelete {
  color: tomato;
}
.spanEdit {
  color: #53c28b;
}
.new {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input,
.textArea {
  padding: 10px;
  background-color: transparent;
  border: 2px solid #bbb;
  border-radius: 3px;
  color: #bbb;
  font-size: 20px;
  font-weight: bold;
}

.button {
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
}
