.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.posts {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}
.postContainer {
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 5px 10px;
  margin-bottom: 8px;
}
.postTitle {
  width: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgContainer {
  flex-shrink: 0;
  position: relative;
  height: 96px;
  width: 96px;
}
.imgContainer img {
  border-radius: 8px;
  object-fit: cover;
}
.postBody {
  display: flex;
  height: 96px;
  margin-left: 16px;
}
.spanContainer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
}
.span {
  display: flex;
  align-items: stretch;
  justify-content: right;
  cursor: pointer;
  font-size: large;
}
.spanDelete {
  color: tomato;
}
.spanEdit {
  color: #53c28b;
}
.new {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input,
.textArea {
  padding: 10px;

  border: 2px solid #bbb;
  border-radius: 3px;

  font-size: 20px;
  font-weight: bold;
}

.button {
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
}
.yetkisiz {
  width: 100%;
  text-align: center;
}
