.posts {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.postContainer {
  border-radius: 8px;
  width: 90%;
  max-width: 520px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 5px 10px;
  margin-bottom: 8px;
  background-color: #53c38b;
}

.imgContainer {
  flex-shrink: 0;
  position: relative;
  height: 96px;
  width: 96px;
}
.imgContainer img {
  border-radius: 8px;
  object-fit: cover;
}
.postBody {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.postTitle {
  font-size: 24px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.postDesc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
